# Setup Environment

In [1]:
from working_dir import set_working_dir

In [2]:
set_working_dir()

Current working directory: D:\git\CS410-Project

In [3]:
%load_ext autoreload
%autoreload 2

# Import libraries

In [4]:
import pandas as pd

In [5]:
file_path = "data/wordFrequency.xlsx"

In [10]:
df = pd.read_excel(io=open(file_path, 'rb'), sheet_name='4 forms (219k)', engine="openpyxl")

In [12]:
df.head()

,rank,word,freq,#texts,%caps,blog,web,TVM,spok,fic,...,news,acad,blogPM,webPM,TVMPM,spokPM,ficPM,magPM,newsPM,acadPM
0,1,the,50074257,483041,0.11,6272412,7101104,3784652,5769026,6311500,...,6582642,7447070,50480.69,55212.83,29550.39,45736.71,53341.69,53975.61,54070.43,62167.47
1,2,to,25557793,478977,0.02,3579158,3590504,2911924,3427348,2871517,...,3013501,2978222,28805.25,27917.05,22736.17,27171.94,24268.65,25264.13,24753.18,24861.93
2,3,and,24821791,478727,0.09,3211226,3458960,1828166,3325442,3064047,...,2995111,3633119,25844.11,26894.26,14274.24,26364.03,25895.82,26215.95,24602.12,30328.95
3,4,of,23605964,478144,0.01,2952017,3462140,1486604,2678416,2330823,...,2893200,4517563,23757.98,26918.99,11607.33,21234.42,19698.97,26054.07,23765.01,37712.21
4,5,a,21889251,477421,0.05,2783458,2827106,2519099,2716641,2749208,...,2959649,2229222,22401.41,21981.44,19669.01,21537.47,23234.95,24619.48,24310.83,18609.35

In [14]:
df.columns

Index(['rank', 'word', 'freq', '#texts', '%caps', 'blog', 'web', 'TVM', 'spok',
       'fic', 'mag', 'news', 'acad', 'blogPM', 'webPM', 'TVMPM', 'spokPM',
       'ficPM', 'magPM', 'newsPM', 'acadPM'],
      dtype='object')