# Setup Environment

In [2]:
from working_dir import set_working_dir

In [3]:
set_working_dir()

Current working directory: D:\git\CS410-Project

In [4]:
%load_ext autoreload
%autoreload 2

# Import libraries

In [5]:
import pandas as pd
from sentence import Sentences, Sentence

# Word Frequency

In [6]:
file_path = "data/wordFrequency.xlsx"

In [7]:
wf_df = pd.read_excel(io=open(file_path, 'rb'), sheet_name='4 forms (219k)', engine="openpyxl")

In [8]:
wf_df.head()

,rank,word,freq,#texts,%caps,blog,web,TVM,spok,fic,...,news,acad,blogPM,webPM,TVMPM,spokPM,ficPM,magPM,newsPM,acadPM
0,1,the,50074257,483041,0.11,6272412,7101104,3784652,5769026,6311500,...,6582642,7447070,50480.69,55212.83,29550.39,45736.71,53341.69,53975.61,54070.43,62167.47
1,2,to,25557793,478977,0.02,3579158,3590504,2911924,3427348,2871517,...,3013501,2978222,28805.25,27917.05,22736.17,27171.94,24268.65,25264.13,24753.18,24861.93
2,3,and,24821791,478727,0.09,3211226,3458960,1828166,3325442,3064047,...,2995111,3633119,25844.11,26894.26,14274.24,26364.03,25895.82,26215.95,24602.12,30328.95
3,4,of,23605964,478144,0.01,2952017,3462140,1486604,2678416,2330823,...,2893200,4517563,23757.98,26918.99,11607.33,21234.42,19698.97,26054.07,23765.01,37712.21
4,5,a,21889251,477421,0.05,2783458,2827106,2519099,2716641,2749208,...,2959649,2229222,22401.41,21981.44,19669.01,21537.47,23234.95,24619.48,24310.83,18609.35

In [9]:
wf_df.columns

Index(['rank', 'word', 'freq', '#texts', '%caps', 'blog', 'web', 'TVM', 'spok',
       'fic', 'mag', 'news', 'acad', 'blogPM', 'webPM', 'TVMPM', 'spokPM',
       'ficPM', 'magPM', 'newsPM', 'acadPM'],
      dtype='object')

# Sentences

In [10]:
sentences_df = pd.read_csv(f"data/cbtest_NE_train_cleaned.csv")
sentences_df

        number                                           sentence  word_count
0            1  Some were abroad ; several were ill ; a few we...          26
1            4  shouted the king , through a speaking-trumpet ...          28
2            5  Flitter , flitter , flutter , went the noise ;...          21
3            6  on every seat was a lovely fairy , dressed in ...          22
4            8  The king did , and he was most friendly and po...          15
...        ...                                                ...         ...
140578      18  Hans Van Ripper as executor of his estate , ex...          19
140579      19  The mysterious event caused much speculation a...          14
140580      20  Knots of gazers and gossips were collected in ...          28
140581      19  He was one of your wary men , who never laugh ...          26
140582      18  `` Ergo , for a country schoolmaster to be ref...          28

[140583 rows x 3 columns]

In [11]:
sentences = Sentences([Sentence(s) for s in sentences_df["sentence"].tolist()])

In [12]:
len(sentences)

140583

# Pick interesting sentences

In [13]:
def count_containing_sentence(word):
    sentences_containing_word = sentences.filter_by_word(word)
    return len(sentences_containing_word)

word_sentence_df = pd.DataFrame(columns=["word", "rank", "sentence_count"])
word_sentence_df["word"] = wf_df["word"]
word_sentence_df["rank"] = wf_df["rank"]
word_sentence_df["sentence_count"] = word_sentence_df["word"].apply(count_containing_sentence)

In [14]:
len(word_sentence_df)

5050

In [16]:
len(word_sentence_df[word_sentence_df["sentence_count"] >= 10])

3308

In [24]:
interesting_word_sentence_df = word_sentence_df[(word_sentence_df["sentence_count"] >= 10) & (word_sentence_df["sentence_count"] <= 1000)]

In [26]:
len(interesting_word_sentence_df)

3049

In [27]:
interesting_word_sentence_df.head()

       word  rank  sentence_count
93     also    94             524
129    need   130             603
143    year   144             620
146  around   147             753
149    same   150             816

# Write interesting words

In [28]:
interesting_word_sentence_df.to_csv('data/interesting_words.csv', index=False)