# Setup Environment

In [26]:
from working_dir import set_working_dir

In [27]:
set_working_dir()

Current working directory: D:\git\CS410-Project

In [28]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Import libraries

In [29]:
import pandas as pd
import numpy as np

# Pick word samples
From interesting word list, we try to get some words from each difficulty levels as sample words.

In [30]:
df = pd.read_csv("data/interesting_words.csv")

In [31]:
df.head()

     word  rank  sentence_count
0    also    94             524
1    need   130             603
2    year   144             620
3  around   147             753
4    same   150             816

In [32]:
rank_below1k = df["rank"] <= 1000
rank_1k_2k = (df["rank"] > 1000) & (df["rank"] <= 2000)
rank_2k_3k = (df["rank"] > 2000) & (df["rank"] <= 3000)
rank_3k_4k = (df["rank"] > 3000) & (df["rank"] <= 4000)
rank_above4k = df["rank"] > 4000

In [33]:
pd.concat([df[rank_below1k].head(1), df[rank_below1k].tail(1)])

         word  rank  sentence_count
0        also    94             524
617  original  1000              26

In [34]:
pd.concat([df[rank_1k_2k].head(1), df[rank_1k_2k].tail(1)])

         word  rank  sentence_count
618     older  1001             138
1301  england  2000             170

In [35]:
pd.concat([df[rank_2k_3k].head(1), df[rank_2k_3k].tail(1)])

       word  rank  sentence_count
1302  owner  2003              35
1879  grass  3000             279

In [36]:
pd.concat([df[rank_3k_4k].head(1), df[rank_3k_4k].tail(1)])

              word  rank  sentence_count
1880       passion  3001              64
2358  disappointed  3998             115

In [37]:
pd.concat([df[rank_above4k].head(1), df[rank_above4k].tail(1)])

         word  rank  sentence_count
2359  wrapped  4001              61
2752     bits  5050              60

# Sampling demo words from each rank bands
We randomly pick 5 words from different rank bands as example words.

In [38]:
np.random.seed(42)

In [39]:
def sample(dfs: [], n:int):
    sample_dfs = []
    for df in dfs:
        sample_dfs.append(df.sample(n=n))
    return pd.concat(sample_dfs)

In [40]:
sample_df = sample(
    dfs=[df[rank_below1k], df[rank_1k_2k], df[rank_2k_3k], df[rank_3k_4k], df[rank_above4k]],
    n=1)

In [41]:
sample_df

          word  rank  sentence_count
49        real   250             551
1097    demand  1676              33
1864    driven  2964              87
2338  promises  3956              18
2443   wallace  4233              21

# Write demo words to file

In [42]:
sample_df_final = sample_df

In [43]:
sample_df_final.to_csv('data/sample_words.csv', index=False)

# Sampling evaluation words from each rank bands
We randomly pick 10 words from different rank bands as evaluation words.

In [66]:
np.random.seed(52)

In [67]:
eval_df = sample(
    dfs=[df[rank_below1k], df[rank_1k_2k], df[rank_2k_3k], df[rank_3k_4k], df[rank_above4k]],
    n=1)

In [68]:
eval_df

        word  rank  sentence_count
420    value   740              41
978   spirit  1510             284
1310   lying  2012             247
2065   sandy  3363              37
2446   stake  4240              32

# Write eval words to file

In [69]:
eval_df_final = eval_df

In [70]:
eval_df_final.to_csv('data/eval_words.csv', index=False)