# Setup Environment

In [2]:
from working_dir import set_working_dir

In [3]:
set_working_dir()

Current working directory: D:\git\CS410-Project

In [4]:
%load_ext autoreload
%autoreload 2

# Import libraries

In [5]:
import pandas as pd
import numpy as np

# Pick word samples

In [10]:
df = pd.read_csv("data/interesting_words.csv")

In [11]:
df.head()

     word  rank  sentence_count
0    also    94             524
1    need   130             603
2    year   144             620
3  around   147             753
4    same   150             816

In [12]:
rank_below1k = df["rank"] <= 1000
rank_1k_2k = (df["rank"] > 1000) & (df["rank"] <= 2000)
rank_2k_3k = (df["rank"] > 2000) & (df["rank"] <= 3000)
rank_3k_4k = (df["rank"] > 3000) & (df["rank"] <= 4000)
rank_above4k = df["rank"] > 4000

In [13]:
pd.concat([df[rank_below1k].head(1), df[rank_below1k].tail(1)])

         word  rank  sentence_count
0        also    94             524
652  original  1000              26

In [14]:
pd.concat([df[rank_1k_2k].head(1), df[rank_1k_2k].tail(1)])

         word  rank  sentence_count
653     older  1001             138
1392  england  2000             170

In [15]:
pd.concat([df[rank_2k_3k].head(1), df[rank_2k_3k].tail(1)])

       word  rank  sentence_count
1393  owner  2003              35
2032  grass  3000             279

In [16]:
pd.concat([df[rank_3k_4k].head(1), df[rank_3k_4k].tail(1)])

              word  rank  sentence_count
2033       passion  3001              64
2573  disappointed  3998             115

In [17]:
pd.concat([df[rank_above4k].head(1), df[rank_above4k].tail(1)])

         word  rank  sentence_count
2574  wrapped  4001              61
3048     bits  5050              60

# Sampling words from each rank bands

In [18]:
np.random.seed(42)

In [19]:
def sample(dfs: [], n:int):
    sample_dfs = []
    for df in dfs:
        sample_dfs.append(df.sample(n=n))
    return pd.concat(sample_dfs)

In [20]:
sample_df = sample(
    dfs=[df[rank_below1k], df[rank_1k_2k], df[rank_2k_3k], df[rank_3k_4k], df[rank_above4k]],
    n=1)

In [21]:
sample_df

            word  rank  sentence_count
109         live   330             649
1103      corner  1591             340
1463     serving  2104              10
2437  newspapers  3735              19
2610     russell  4096              16

# Write to file

In [22]:
sample_df_final = sample_df

In [23]:
sample_df_final.to_csv('data/sample_words.csv', index=False)